@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@mixin font-source ($font-size: 16px,
    $font-weight: 400,
    $letter-spacing: 0) {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
}